<section class="w-full h-[55vh] flex flex-col bg-[#e1e5e9] p-[5rem]">
  <div>
    <h2 class="text-5xl">Sobre Mi.</h2>
  </div>
  <div class="mt-[2rem]">
    <p class="text-3xl">
      Hola mi nombre es <span class="font-bold text-[#e05822]"
        >Cindy Virgen.</span
      >
      <br />
      Soy Licenciada en Mercadotecnia y cuento con multiples diplomas de SEO y Digital
      Marketing. Tengo certificacion en Google ADS y Google Analytics.
    </p>
  </div>
</section>
