<section class="w-full h-[55vh] flex flex-col bg-[#e1e5e9] p-[5rem]">
  <div>
    <h2 class="text-5xl">Sobre Mi.</h2>
  </div>
  <div class="mt-[2rem]">
    <p class="text-3xl">
      Hola mi nombre es <span class="font-bold text-[#e05822]">Cindy.</span>
      <br />
      Soy una Marketer actualmente enfocada en SEO y Marketing digital, aunque mi
      estilo es más bien multidisciplinario con amplia experiencia en posicionar
      y dirigir diferentes giros de negocios. Durante los últimos 7 años he ayudado
      a emprendedores, empresas y trabajadores increíblemente esforzados a crear
      o mejorar sus marcas, sitios web, así como a posicionarse en las diferentes
      plataformas digitales.
    </p>
  </div>
</section>
