---
import { Image } from "astro:assets";
import heroImage from "../assets/Hero1.jpg";
---

<section class="h-[45vh]">
  <Image src={heroImage} alt="Hero Image" class="h-[45vh] absolute -z-10" />
  <div class="h-[45vh] w-full flex justify-center items-center">
    <h1 class="h-[45vh] max-w-[46rem] text-8xl flex-wrap content-center">
      Digital Marketing & SEO
    </h1>
  </div>
</section>
