---
const pages = {
  Home: "/index",
  About: "/about",
  Services: "/services",
};
---

<header class="w-full border-b p-5 flexalign-middle sticky top-0">
  <ul class="w-full flex justify-between">
    <div class="">
      <li>logo</li>
    </div>
    <div class="flex gap-10 pr-10">
      {
        Object.entries(pages).map(([title, path]) => (
          <li>
            <a href={path}>{title}</a>
          </li>
        ))
      }
    </div>
  </ul>
</header>
